/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  #score {
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }
  
  .test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9 0vh;
  }
  
  #matter-canvas {
    
    border: 2px solid #000;
  }
  
  #app {
    text-align: center;
  }

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #future-fruits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px; 
  }
  

  .future-fruit {
    width: 50px; 
    height: 50px; 
    margin: 5px; 
  }
  